<div class="container">
  <h3 class="fs-5">Category</h3>
  <div class="row g-0 p-0 m-0 my-4">
    <div class="col-lg-5 p-0 m-0">
      <button class="btn border fw-light fs-6 me-2">
        <i class="uil uil-import me-2"></i>Import
      </button>
      <button class="btn border fw-light fs-6">
        <i class="uil uil-export me-2"></i>Export
      </button>
    </div>
    <div class="col-lg-7 p-0 m-0">
      <div class="row  g-0">
        <div class="col-md-4">
          <button class="btn border fw-light fs-6 py-2 px-4">
            <i class="uil uil-edit me-2"></i>Bulk Action
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn border fw-light bg-one py-2 px-4 fs-6">
            <i class="uil uil-trash-alt me-2"></i>Delete
          </button>
        </div>
        <div class="col-md-4">
          <button  data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" class="add btn border bg-four py-2 px-4 fw-light fs-6">
            <i class="uil uil-plus me-2"></i>Add category
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-category></app-add-category>
